<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hitung: <%= num %></h1>

    <!-- percabangan if/else -->

    <% if(num % 2 === 0)  { %>
    <h1>Angka Genap</h1>
    <% } else { %>
    <h1>Angka Ganjil</h1>
    <%} %>
    
    <h2>Number : <%= num % 2 === 0 ? 'Genap' : 'Ganjil' %></h2>


    <!-- perulangan for -->
    <h2>Perulangan For</h2>
    <% for(let i = 0; i <= num; i++) { %>
    <p>Angka: <%= i %></p>
    <% } %>

    <!-- Ini Kommentar -->
</body>
</html>